body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "montserrat-Bold";
}

p {
  font-family: cursive;
    color: #8f8f8f;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#title {
  background-color: #f8d5f0;
  color: #21e6c1;
  text-align: left;
}
 .container-fluid {
  padding: 3% 15% 7%;
}
.navbar {
  padding: 0 0 5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: none;
}
.nav-item {
  padding: 0 18px ;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* DOWNLOAD BUTTONS */
.download-button {
  margin: 15% 3% 15% 0;
}
.title-image {
  width: 40%;
  transform: rotate(30deg);
  position: absolute;
    right: 30%
  }
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1
}
.features-Title{
  font-size: 1.5rem;
}
.features-box {
 padding-left: 5%;
 text-align: center;
}
.fas {
  color: #cffdf8;
  margin-bottom: 1rem;
}
.fas:hover {
    color: #f8d5f0;
    padding-left: 4.5%;
}
#testimonials {
  text-align: center;
  background-color: #f8d5f0;
  color: #21e6c1;
}
.testimonials-text {
  padding :2%;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonials-img {
  width: 10%;
  border-radius: 100%;
}
.carousel-item {
  padding: 7% 15;
}
#press {
  background-color:  #f8d5f0;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 7%
}
.press-logo {
  width:12%;
  margin: 20px 20px 50px;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.price-title{
  font-size: 1.5rem;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
#cta {
  text-align: center;
  background-color: #f8d5f0;
  color: #21e6c1;
  padding: 7% 15%;
}
#footer {
  text-align: center;
  padding:7% 15%;
}
.icon-fab{
  margin: 20px 10px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
